*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'counter-strikeregular';

}
.video-bg{
position: absolute;
width: 100vw;
height: 100vh;
}
.wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}
.header{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.overskrift{
position: fixed;
}

.info{
    font-size: 5rem;
}


.link{
font-size: 3rem;
color:orange;
text-decoration: none;
background-color: black;
border-radius: 5%;
margin-top: 50%;
}

.billeder{
width: 200px;
height: 500px;
padding-top: 20rem;

}

.footer{
    position: absolute;
    bottom: 100px;
    

}
.credits{
    font-size: 3rem;
    color: white;
    text-align: center;
}
.logowrap{
    justify-content: space-evenly;
    height: 600px;
    gap: 450px;
}
